# Values: development, staging, production
NODE_ENV=development
PORT=6173

DOMAIN=localhost:6173

JWT_SECRET="!0ixz03_n476by*-2(y2xboevq#(wt-7xhxx6*re+bn$6onxlc"

# DATABASE CONFIGURATION
DATABASE_URL=postgresql://postgres:12345@localhost:5432/staging-backup

# REDIS SENTINEL CONFIGURATION
REDIS_DB=0
REDIS_SENTINELS=localhost:26379,localhost:26380
REDIS_MASTER_NAME=mymaster
REDIS_FAIL_CLOSED=true

# JWT & AUTHENTICATION CONFIGURATION
JWT_ACCESS_TOKEN_LIFETIME_HOURS=8
JWT_REFRESH_TOKEN_LIFETIME_HOURS=12
JWT_AUTH_COOKIE=session
JWT_AUTH_REFRESH_COOKIE=refresh_token
JWT_AUTH_COOKIE_DOMAIN=.datanext.services

JWT_AUTH_COOKIE_SECURE=false
JWT_AUTH_COOKIE_SAMESITE=Lax

# Use HTTPS (set to true in production)
USE_HTTPS=false

# Allow cross-origin requests (almost always true)
IS_CROSS_ORIGIN=true

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000,https://backend.datanext.services,https://backend-kifal.datanext.services,https://user.datanext.services,https://root.datanext.services,https://dev-kifal.datanext.services,https://devroot-kifal.datanext.services

LOG_LEVEL=debug

DJANGO_BACKEND_URL=https://backend-kifal.datanext.services

# AI ASSISTANT V2
USER_AI_ASSISTANT_SERVICE_TOKEN=token

AI_ASSISTANT_V2_HEALTH_URL=http://192.168.11.38:3030/health/live
AI_ASSISTANT_V2_CHAT_URL=http://192.168.11.38:3030/v1/assistant/chat

# Enable/disable 2FA
ENABLE_2FA=false

# Enable/disable API keys
ENABLE_API_KEYS=true
